In [1]:
import pandas as pd
from sqlalchemy import create_engine, inspect
import os
import datetime

In [2]:
# File paths for the uploaded Excel files
file_paths = {
    "Genie Dataset 1": "/Users/yongtengchai/Downloads/Genie/Genie Dataset 1.xlsx",
    "Genie Dataset 3": "/Users/yongtengchai/Downloads/Genie/Genie Dataset 3.xlsx",
    "Genie Dataset 4": "/Users/yongtengchai/Downloads/Genie/Genie Dataset 4.xlsx"
}

In [3]:
# Read and preview all datasets
datasets = {}
for name, path in file_paths.items():
    datasets[name] = pd.ExcelFile(path)  # Load the Excel file

# Show the sheet names for each dataset
sheet_info = {name: excel.sheet_names for name, excel in datasets.items()}
sheet_info

{'Genie Dataset 1': ['Sheet'],
 'Genie Dataset 3': ['Sheet'],
 'Genie Dataset 4': ['Sheet']}

In [4]:
# Load the data from the first sheet of each dataset
data_previews = {name: excel.parse(excel.sheet_names[0]).head() for name, excel in datasets.items()}
data_previews

{'Genie Dataset 1':   Date Settled   Agrt No  Reg No.  Agrt Date  Block No  Loan Amt  \
 0   2024-05-06  A0000001  WRJ**** 2022-01-27       NaN     18000
 1   2023-04-05  A0000002  WTU**** 2022-02-08       NaN     24000
 2   2024-05-17  A0000003  WXT**** 2022-02-09       NaN      8400
 3   2024-03-14  A0000004  WVJ**** 2022-02-09       NaN     16200
 4   2024-03-13  A0000005  WUF**** 2022-02-17       NaN      9840

    Term Charges  Total Payable  Principle Amt  Rebate  ...  O/D Int  Postage  \
 0          9000          27000          11640    2600  ...        8      0.0
 1          6840          30840          17960    2600  ...        8      0.0
 2          3360          11760           4100     970  ...        8      0.0
 3          7700          23900           7160    2500  ...        8      0.0
 4          4670          14510           3540    1610  ...        8      0.0

    Misc  Repo Exp  Storage  Legal Exp  LOD  JPJ Exp  Dealer ID     Loan Type
 0     0         0        0          0    0        0   D0000001  CONVENTIONAL
 1     0         0        0          0    0        0   D0000002  CONVENTIONAL
 2     0         0        0          0    0        0   D0000003  CONVENTIONAL
 3     0         0        0          0    0        0   D0000004  CONVENTIONAL
 4     0         0        0          0    0        0   D0000005  CONVENTIONAL

 [5 rows x 23 columns],
 'Genie Dataset 3':   Branch  Agrt No.      Hirer IC  Age         State Occupation  Marital  \
 0  BCH01  A0000278  87121902****   34      SELANGOR        NaN  MARRIED
 1  BCH02  A0000279  86123104****   35  KUALA LUMPUR        NaN  MARRIED
 2  BCH03  A0000280  85042108****   36      SELANGOR        NaN  MARRIED
 3  BCH04  A0000281  95032714****   27      SELANGOR        NaN   SINGLE
 4  BCH05  A0000282  95090306****   26      SELANGOR        NaN   SINGLE

         Race Gender  Total Income  ... Veh User RAMCI Hirer RAMCI G1  \
 0  BUMIPUTRA     M           3000  ...        H           1      0.0
 1  BUMIPUTRA     M           2000  ...        H           5      0.0
 2    CHINESE     F           3000  ...        H           4      0.0
 3    CHINESE     M           2000  ...        H           0      0.0
 4  BUMIPUTRA     M           1000  ...        H           7      0.0

    RAMCI G2 RAMCI Average     Status                                Position  \
 0         0           0.0       AKPK  SALARY WITH PROOF OF ACCOUNT CREDITING
 1         0           5.0  NO RECORD                      GOVERNMENT SERVANT
 2         0           4.0        NaN  SALARY WITH PROOF OF ACCOUNT CREDITING
 3         0           0.0  NO RECORD  SALARY WITH PROOF OF ACCOUNT CREDITING
 4         0           7.0  NO RECORD  SALARY WITH PROOF OF ACCOUNT CREDITING

       Loan Type No. Instal Paid Total Instal Pd
 0  CONVENTIONAL              30           23000
 1  CONVENTIONAL              31           10100
 2  CONVENTIONAL              30            9800
 3  CONVENTIONAL              30            9800
 4  CONVENTIONAL              30            8800

 [5 rows x 53 columns],
 'Genie Dataset 4':     Agrt No  Agrt Date        IC No. Dealer ID  Reg No  \
 0  A0000278 2022-01-03  87121902****   D000001  WB****
 1  A0000832 2022-01-05  77092106****   D000002  CD****
 2  A0000279 2022-01-06  86123104****   D000003  WT****
 3  A0000280 2022-01-07  85042108****   D000004  WX****
 4  A0000281 2022-01-07  95032714****   D000005  VT****

                       Vehicle  Loan Amt  Mthly Instal  Int Rate  Tenor     GL  \
 0            TOYOTA WISH 1.8L     37800           800      10.0     84  41300
 1      PERODUA BEZZA 1300X AT     21600           300       8.0    108   6100
 2  NISSAN LATIO 1.6L ST-L A/T      9000           300      10.0     36   1600
 3     MAZDA MAZDA2 1.5SDN (A)     17600           300       8.0     84  17600
 4        PROTON SAGA 1.3L CVT     17400           300       8.0     84  17400

   Last Paid Date  Last Paid Amt  Arrears  Mth Due  Rebate
 0     2024-07-31            800        0        0       0
 1     2024-02-29              0      400        2    9000
 2     2024-07-05            300     -400       -1       0
 3     2024-07-31            300        0        0       0
 4     2024-07-01            300     -100        0       0  }

In [5]:
# Checking for missing values in each dataset
missing_values_summary = {
    name: df.isnull().sum() for name, df in data_previews.items()
}
missing_values_summary

{'Genie Dataset 1': Date Settled     0
 Agrt No          0
 Reg No.          0
 Agrt Date        0
 Block No         5
 Loan Amt         0
 Term Charges     0
 Total Payable    0
 Principle Amt    0
 Rebate           0
 GL Bal           0
 Last Pd Amt      0
 Tot Instal Pd    0
 O/D Int          0
 Postage          0
 Misc             0
 Repo Exp         0
 Storage          0
 Legal Exp        0
 LOD              0
 JPJ Exp          0
 Dealer ID        0
 Loan Type        0
 dtype: int64,
 'Genie Dataset 3': Branch                0
 Agrt No.              0
 Hirer IC              0
 Age                   0
 State                 0
 Occupation            5
 Marital               0
 Race                  0
 Gender                0
 Total Income          0
 Dealer ID             0
 Reg No.               0
 Car Made              0
 Yr Made               0
 1st Appr Date         5
 Appr Date             0
 Process Officer       0
 Marketing Officer     0
 1st Appr By           5
 Appr By               0
 Comm Date             0
 Agrt Date             0
 Loan Amt              0
 Tenure                0
 Int Rate              0
 Eff Rate              0
 GL Bal                0
 Net Principal         0
 Mthly Instal          0
 No. Arrears           0
 Last Pd Amt           0
 Last Pd Date          0
 Notice Date           5
 N Code                0
 Notice                5
 Legal Status          0
 % of Selling Price    0
 NPSLP                 0
 DPD                   0
 Grading               0
 MOF                   0
 LVT MOF               0
 Total DSR             0
 Veh User              0
 RAMCI Hirer           0
 RAMCI G1              0
 RAMCI G2              0
 RAMCI Average         0
 Status                1
 Position              0
 Loan Type             0
 No. Instal Paid       0
 Total Instal Pd       0
 dtype: int64,
 'Genie Dataset 4': Agrt No           0
 Agrt Date         0
 IC No.            0
 Dealer ID         0
 Reg No            0
 Vehicle           0
 Loan Amt          0
 Mthly Instal      0
 Int Rate          0
 Tenor             0
 GL                0
 Last Paid Date    0
 Last Paid Amt     0
 Arrears           0
 Mth Due           0
 Rebate            0
 dtype: int64}

In [7]:
# Create a connection to the SQL database
DATABASE_TYPE = 'sqlite'
DB_NAME = 'genie_data.db'
db_url = f"{DATABASE_TYPE}:///{DB_NAME}"
engine = create_engine(db_url, echo=True)

In [8]:
# Read all sheets from all files and insert them into SQL tables
def load_sheets_to_sql(file_path):
    excel_file = pd.ExcelFile(file_path)
    file_name = os.path.basename(file_path).split('.')[0].replace(" ", "_")
    print(f"Processing file: {file_name}")
    for sheet_name in excel_file.sheet_names:
        print(f"Found sheet: {sheet_name}")
        df = excel_file.parse(sheet_name)
        
        # Data Processing: Remove duplicates
        df.drop_duplicates(inplace=True)
        
        # Handle missing values - filling with appropriate values based on column type
        for column in df.columns:
            if df[column].dtype == 'object':
                df[column].fillna(value="Unknown", inplace=True)
            elif df[column].dtype in ['int64', 'float64']:
                df[column].fillna(value=df[column].mean(), inplace=True)
            else:
                df[column].fillna(value=0, inplace=True)
        
        # Additional Data Processing: Convert data types if necessary
        for column in df.columns:
            if df[column].dtype == 'object':
                # Convert categorical text to lowercase to standardize
                df[column] = df[column].str.lower()
            elif df[column].dtype == 'float64':
                # Convert floats to integers if no significant precision is lost
                if (df[column] % 1 == 0).all():
                    df[column] = df[column].astype('int64')
        
        # Clean sheet name for SQL table
        table_name = f"{file_name}_{sheet_name}".replace(" ", "_").lower()
        df.to_sql(table_name, con=engine, if_exists='replace', index=False)
        print(f"Loaded sheet '{sheet_name}' into table '{table_name}'")


# Update the table in SQL with processed data

def update_sql_table(df, table_name):
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)
    print(f"Updated table '{table_name}' with cleaned data")

for file_path in file_paths.values():
    load_sheets_to_sql(file_path)

print("All sheets have been processed and loaded into the SQL database.")

Processing file: Genie_Dataset_1
Found sheet: Sheet
2024-11-24 13:14:01,728 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:01,729 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genie_dataset_1_sheet")
2024-11-24 13:14:01,729 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,731 INFO sqlalchemy.engine.Engine ROLLBACK
2024-11-24 13:14:01,731 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:01,731 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genie_dataset_1_sheet")
2024-11-24 13:14:01,732 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,733 INFO sqlalchemy.engine.Engine ROLLBACK
2024-11-24 13:14:01,734 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:01,734 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-11-24 13:14:01,735 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,736 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_temp_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-11-24 13:14:01,736 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,736 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("genie_dataset_1_sheet")
2024-11-24 13:14:01,737 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,738 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-11-24 13:14:01,738 INFO sqlalchemy.engine.Engine [raw sql] ('genie_dataset_1_sheet',)
2024-11-24 13:14:01,739 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("genie_dataset_1_sheet")
2024-11-24 13:14:01,740 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,741 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("genie_dataset_1_sheet")
2024-11-24 13:14:01,741 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,741 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-11-24 13:14:01,742 INFO sqlalchemy.engine.Engine [raw sql] ('genie_dataset_1_sheet',)
2024-11-24 13:14:01,742 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("genie_dataset_1_sheet")
2024-11-24 13:14:01,743 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,743 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("genie_dataset_1_sheet")
2024-11-24 13:14:01,744 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,744 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genie_dataset_1_sheet")
2024-11-24 13:14:01,744 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,745 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("genie_dataset_1_sheet")
2024-11-24 13:14:01,745 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,746 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("genie_dataset_1_sheet")
2024-11-24 13:14:01,746 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,747 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genie_dataset_1_sheet")
2024-11-24 13:14:01,747 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,748 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-11-24 13:14:01,749 INFO sqlalchemy.engine.Engine [raw sql] ('genie_dataset_1_sheet',)
2024-11-24 13:14:01,750 INFO sqlalchemy.engine.Engine ROLLBACK
2024-11-24 13:14:01,750 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:01,751 INFO sqlalchemy.engine.Engine
DROP TABLE genie_dataset_1_sheet
2024-11-24 13:14:01,751 INFO sqlalchemy.engine.Engine [no key 0.00027s] ()
2024-11-24 13:14:01,753 INFO sqlalchemy.engine.Engine COMMIT
2024-11-24 13:14:01,754 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:01,755 INFO sqlalchemy.engine.Engine
CREATE TABLE genie_dataset_1_sheet (
	"Date Settled" DATETIME,
	"Agrt No" TEXT,
	"Reg No." TEXT,
	"Agrt Date" DATETIME,
	"Block No" FLOAT,
	"Loan Amt" BIGINT,
	"Term Charges" BIGINT,
	"Total Payable" BIGINT,
	"Principle Amt" BIGINT,
	"Rebate" BIGINT,
	"GL Bal" BIGINT,
	"Last Pd Amt" BIGINT,
	"Tot Instal Pd" BIGINT,
	"O/D Int" BIGINT,
	"Postage" FLOAT,
	"Misc" BIGINT,
	"Repo Exp" BIGINT,
	"Storage" BIGINT,
	"Legal Exp" BIGINT,
	"LOD" BIGINT,
	"JPJ Exp" BIGINT,
	"Dealer ID" TEXT,
	"Loan Type" TEXT
)


2024-11-24 13:14:01,755 INFO sqlalchemy.engine.Engine [no key 0.00025s] ()
2024-11-24 13:14:01,756 INFO sqlalchemy.engine.Engine COMMIT
2024-11-24 13:14:01,759 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:01,763 INFO sqlalchemy.engine.Engine INSERT INTO genie_dataset_1_sheet ("Date Settled", "Agrt No", "Reg No.", "Agrt Date", "Block No", "Loan Amt", "Term Charges", "Total Payable", "Principle Amt", "Rebate", "GL Bal", "Last Pd Amt", "Tot Instal Pd", "O/D Int", "Postage", "Misc", "Repo Exp", "Storage", "Legal Exp", "LOD", "JPJ Exp", "Dealer ID", "Loan Type") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-11-24 13:14:01,764 INFO sqlalchemy.engine.Engine [generated in 0.00328s] [('2024-05-06 00:00:00.000000', 'a0000001', 'wrj****', '2022-01-27 00:00:00.000000', None, 18000, 9000, 27000, 11640, 2600, 0, 24600, 24400, 8, 0.0, 0, 0, 0, 0, 0, 0, 'd0000001', 'conventional'), ('2023-04-05 00:00:00.000000', 'a0000002', 'wtu****', '2022-02-08 00:00:00.000000', None, 24000, 6840, 30840, 17960, 2600, 0, 18040, 28240, 8, 0.0, 0, 0, 0, 0, 0, 0, 'd0000002', 'conventional'), ('2024-05-17 00:00:00.000000', 'a0000003', 'wxt****', '2022-02-09 00:00:00.000000', None, 8400, 3360, 11760, 4100, 970, 0, 4110, 10790, 8, 0.0, 0, 0, 0, 0, 0, 0, 'd0000003', 'conventional'), ('2024-03-14 00:00:00.000000', 'a0000004', 'wvj****', '2022-02-09 00:00:00.000000', None, 16200, 7700, 23900, 7160, 2500, 0, 7160, 21390, 8, 0.0, 0, 0, 0, 0, 0, 0, 'd0000004', 'conventional'), ('2024-03-13 00:00:00.000000', 'a0000005', 'wuf****', '2022-02-17 00:00:00.000000', None, 9840, 4670, 14510, 3540, 1610, 0, 3540, 12900, 8, 0.0, 0, 0, 0, 0, 0, 0, 'd0000005', 'conventional'), ('2023-06-19 00:00:00.000000', 'a0000006', 'wd1****', '2022-02-24 00:00:00.000000', None, 48000, 30240, 78240, 44660, 21980, 0, 44660, 56260, 8, 0.0, 0, 0, 0, 0, 0, 0, 'd0000006', 'conventional'), ('2023-06-15 00:00:00.000000', 'a0000007', 'akp****', '2022-02-24 00:00:00.000000', None, 33120, 23850, 56970, 31180, 17330, 0, 31180, 39630, 8, 0.0, 0, 0, 0, 0, 0, 0, 'd0000007', 'conventional'), ('2023-08-14 00:00:00.000000', 'a0000008', 'def****', '2022-02-24 00:00:00.000000', None, 12000, 5880, 17880, 6000, 3640, 0, 6000, 14240, 8, 0.0, 0, 0, 0, 0, 0, 0, 'd0000006', 'conventional')  ... displaying 10 of 277 total bound parameter sets ...  ('2024-06-11 00:00:00.000000', 'a0000276', 'wvb****', '2024-05-15 00:00:00.000000', None, 18000, 3600, 21600, 18290, 3310, 0, 18290, 18290, 8, 0.0, 0, 0, 0, 0, 0, 0, 'd0000145', 'conventional'), ('2024-06-24 00:00:00.000000', 'a0000277', 'wc2****', '2024-05-27 00:00:00.000000', None, 18600, 9300, 27900, 18900, 9000, 0, 18910, 18900, 8, 0.0, 0, 0, 0, 0, 0, 0, 'd0000019', 'conventional')]
2024-11-24 13:14:01,767 INFO sqlalchemy.engine.Engine COMMIT
Loaded sheet 'Sheet' into table 'genie_dataset_1_sheet'
Processing file: Genie_Dataset_3
Found sheet: Sheet
2024-11-24 13:14:01,983 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:01,983 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genie_dataset_3_sheet")
2024-11-24 13:14:01,984 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,985 INFO sqlalchemy.engine.Engine ROLLBACK
2024-11-24 13:14:01,985 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:01,985 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genie_dataset_3_sheet")
2024-11-24 13:14:01,985 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,986 INFO sqlalchemy.engine.Engine ROLLBACK
2024-11-24 13:14:01,986 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:01,987 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-11-24 13:14:01,987 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,988 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_temp_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-11-24 13:14:01,988 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,988 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("genie_dataset_3_sheet")
2024-11-24 13:14:01,988 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,990 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-11-24 13:14:01,990 INFO sqlalchemy.engine.Engine [raw sql] ('genie_dataset_3_sheet',)
2024-11-24 13:14:01,991 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("genie_dataset_3_sheet")
2024-11-24 13:14:01,991 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,991 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("genie_dataset_3_sheet")
2024-11-24 13:14:01,992 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,992 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-11-24 13:14:01,992 INFO sqlalchemy.engine.Engine [raw sql] ('genie_dataset_3_sheet',)
2024-11-24 13:14:01,993 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("genie_dataset_3_sheet")
2024-11-24 13:14:01,994 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,994 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("genie_dataset_3_sheet")
2024-11-24 13:14:01,994 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,995 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genie_dataset_3_sheet")
2024-11-24 13:14:01,995 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,996 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("genie_dataset_3_sheet")
2024-11-24 13:14:01,996 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,996 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("genie_dataset_3_sheet")
2024-11-24 13:14:01,997 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,997 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genie_dataset_3_sheet")
2024-11-24 13:14:01,997 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:01,998 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-11-24 13:14:01,998 INFO sqlalchemy.engine.Engine [raw sql] ('genie_dataset_3_sheet',)
2024-11-24 13:14:02,000 INFO sqlalchemy.engine.Engine ROLLBACK
2024-11-24 13:14:02,000 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:02,001 INFO sqlalchemy.engine.Engine
DROP TABLE genie_dataset_3_sheet
2024-11-24 13:14:02,001 INFO sqlalchemy.engine.Engine [no key 0.00030s] ()
2024-11-24 13:14:02,005 INFO sqlalchemy.engine.Engine COMMIT
2024-11-24 13:14:02,006 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:02,007 INFO sqlalchemy.engine.Engine
CREATE TABLE genie_dataset_3_sheet (
	"Branch" TEXT,
	"Agrt No." TEXT,
	"Hirer IC" TEXT,
	"Age" BIGINT,
	"State" TEXT,
	"Occupation" TEXT,
	"Marital" TEXT,
	"Race" TEXT,
	"Gender" TEXT,
	"Total Income" BIGINT,
	"Dealer ID" TEXT,
	"Reg No." TEXT,
	"Car Made" TEXT,
	"Yr Made" BIGINT,
	"1st Appr Date" FLOAT,
	"Appr Date" DATETIME,
	"Process Officer" TEXT,
	"Marketing Officer" TEXT,
	"1st Appr By" TEXT,
	"Appr By" TEXT,
	"Comm Date" DATETIME,
	"Agrt Date" DATETIME,
	"Loan Amt" BIGINT,
	"Tenure" BIGINT,
	"Int Rate" FLOAT,
	"Eff Rate" FLOAT,
	"GL Bal" BIGINT,
	"Net Principal" BIGINT,
	"Mthly Instal" BIGINT,
	"No. Arrears" BIGINT,
	"Last Pd Amt" BIGINT,
	"Last Pd Date" DATETIME,
	"Notice Date" FLOAT,
	"N Code" BIGINT,
	"Notice" TEXT,
	"Legal Status" TEXT,
	"% of Selling Price" FLOAT,
	"NPSLP" BIGINT,
	"DPD" BIGINT,
	"Grading" TEXT,
	"MOF" FLOAT,
	"LVT MOF" FLOAT,
	"Total DSR" FLOAT,
	"Veh User" TEXT,
	"RAMCI Hirer" BIGINT,
	"RAMCI G1" FLOAT,
	"RAMCI G2" BIGINT,
	"RAMCI Average" FLOAT,
	"Status" TEXT,
	"Position" TEXT,
	"Loan Type" TEXT,
	"No. Instal Paid" BIGINT,
	"Total Instal Pd" BIGINT
)


2024-11-24 13:14:02,007 INFO sqlalchemy.engine.Engine [no key 0.00024s] ()
2024-11-24 13:14:02,008 INFO sqlalchemy.engine.Engine COMMIT
2024-11-24 13:14:02,011 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:02,026 INFO sqlalchemy.engine.Engine INSERT INTO genie_dataset_3_sheet ("Branch", "Agrt No.", "Hirer IC", "Age", "State", "Occupation", "Marital", "Race", "Gender", "Total Income", "Dealer ID", "Reg No.", "Car Made", "Yr Made", "1st Appr Date", "Appr Date", "Process Officer", "Marketing Officer", "1st Appr By", "Appr By", "Comm Date", "Agrt Date", "Loan Amt", "Tenure", "Int Rate", "Eff Rate", "GL Bal", "Net Principal", "Mthly Instal", "No. Arrears", "Last Pd Amt", "Last Pd Date", "Notice Date", "N Code", "Notice", "Legal Status", "% of Selling Price", "NPSLP", "DPD", "Grading", "MOF", "LVT MOF", "Total DSR", "Veh User", "RAMCI Hirer", "RAMCI G1", "RAMCI G2", "RAMCI Average", "Status", "Position", "Loan Type", "No. Instal Paid", "Total Instal Pd") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-11-24 13:14:02,027 INFO sqlalchemy.engine.Engine [generated in 0.01250s] [('bch01', 'a0000278', '87121902****', 34, 'selangor', 'unknown', 'married', 'bumiputra', 'm ', 3000, 'd000004', 'wb6****', 'toyota', 2011, None, '2021-12-28 00:00:00.000000', 'anwar ', 'yap jin fei', 'unknown', 'bingbing', '2022-02-03 00:00:00.000000', '2022-01-03 00:00:00.000000', 37800, 84, 10.0, 16.68, 41300, 30700, 800, 0, 800, '2024-07-31 00:00:00.000000', None, 0, 'unknown', 'normal', 52.66, 0, 0, ' ', 84.0, 0.0, 26.49, 'h', 1, 0.0, 0, 0.0, 'akpk', 'salary with proof of account crediting', 'conventional', 30, 23000), ('bch02', 'a0000279', '86123104****', 35, 'kuala lumpur', 'unknown', 'married', 'bumiputra', 'm ', 2000, 'd000008', 'wtp****', 'nissan', 2007, None, '2021-12-30 00:00:00.000000', 'visalini', 'yap jin fei', 'unknown', 'adlina', '2022-02-06 00:00:00.000000', '2022-01-06 00:00:00.000000', 9000, 36, 10.0, 17.92, 1600, 1500, 300, -1, 300, '2024-07-05 00:00:00.000000', None, 0, 'unknown', 'normal', 93.83, 0, 0, ' ', 0.0, 0.0, 14.28, 'h', 5, 0.0, 0, 5.0, 'no record', 'government servant', 'conventional', 31, 10100), ('bch03', 'a0000280', '85042108****', 36, 'selangor', 'unknown', 'married', 'chinese', 'f ', 3000, 'd000007', 'wxc****', 'mazda', 2012, None, '2021-12-30 00:00:00.000000', 'nadzmi', 'yap jin fei', 'unknown', 'adlina', '2022-02-07 00:00:00.000000', '2022-01-07 00:00:00.000000', 17600, 84, 8.0, 13.71, 17600, 13700, 300, 0, 300, '2024-07-31 00:00:00.000000', None, 0, 'unknown', 'normal', 46.46, 0, 0, ' ', 0.0, 0.0, 10.23, 'h', 4, 0.0, 0, 4.0, 'unknown', 'salary with proof of account crediting', 'conventional', 30, 9800), ('bch04', 'a0000281', '95032714****', 27, 'selangor', 'unknown', 'single', 'chinese', 'm ', 2000, 'd000011', 'vt4****', 'proton', 2016, None, '2022-01-04 00:00:00.000000', 'visalini', 'yap jin fei', 'unknown', 'adlina', '2022-02-07 00:00:00.000000', '2022-01-07 00:00:00.000000', 17400, 84, 8.0, 13.71, 17400, 13500, 300, 0, 300, '2024-07-01 00:00:00.000000', None, 0, 'unknown', 'normal', 41.74, 0, 0, ' ', 0.0, 0.0, 17.0, 'h', 0, 0.0, 0, 0.0, 'no record', 'salary with proof of account crediting', 'conventional', 30, 9800), ('bch05', 'a0000282', '95090306****', 26, 'selangor', 'unknown', 'single', 'bumiputra', 'm ', 1000, 'd000006', 'wxq****', 'proton', 2012, None, '2021-12-29 00:00:00.000000', 'azlina', 'yap jin fei', 'unknown', 'bingbing', '2022-02-10 00:00:00.000000', '2022-01-10 00:00:00.000000', 15600, 84, 8.0, 13.71, 15600, 12100, 300, 0, 300, '2024-07-09 00:00:00.000000', None, 0, 'unknown', 'normal', 45.67, 0, 0, ' ', 0.0, 0.0, 25.13, 'h', 7, 0.0, 0, 7.0, 'no record', 'salary with proof of account crediting', 'conventional', 30, 8800), ('bch06', 'a0000283', '71070405****', 50, 'negeri sembilan', 'unknown', 'married', 'bumiputra', 'm ', 2000, 'd000006', 'pkf****', 'honda', 2011, None, '2021-12-31 00:00:00.000000', 'anwar ', 'yap jin fei', 'unknown', 'simon', '2022-02-10 00:00:00.000000', '2022-01-10 00:00:00.000000', 15000, 60, 10.0, 17.28, 11400, 9600, 400, 1, 500, '2024-06-26 00:00:00.000000', None, 0, 'unknown', 'normal', 57.77, 1, 22, ' ', 0.0, 0.0, 15.36, 'h', 8, 8.0, 0, 8.0, 'unknown', 'salary with proof of account crediting', 'conventional', 29, 11100), ('bch07', 'a0000284', '75061906****', 46, 'pahang', 'unknown', 'married', 'bumiputra', 'm ', 2000, 'd000013', 'w88****', 'perodua', 2013, None, '2022-01-04 00:00:00.000000', 'visalini', 'ken jung li chung', 'unknown', 'adlina', '2022-02-12 00:00:00.000000', '2022-01-12 00:00:00.000000', 18700, 84, 8.0, 13.71, 18700, 14500, 300, 0, 300, '2024-07-31 00:00:00.000000', None, 0, 'unknown', 'normal', 47.34, 0, 0, ' ', 0.0, 0.0, 15.13, 'h', 7, 0.0, 0, 7.0, 'unknown', 'salary with proof of account crediting', 'conventional', 30, 10400), ('bch08', 'a0000285', '85112712****', 36, 'selangor', 'unknown', 'married', 'others', 'f ', 2000, 'd000012', 'wxd****', 'perodua ', 2012, None, '2022-01-04 00:00:00.000000', 'azlina', 'ken jung li chung', 'unknown', 'simon', '2022-02-13 00:00:00.000000', '2022-01-13 00:00:00.000000', 19700, 84, 8.0, 13.71, 19400, 15000, 400, -1, 400, '2024-07-30 00:00:00.000000', None, 0, 'unknown', 'normal', 47.43, 0, 0, ' ', 0.0, 0.0, 14.92, 'h', 7, 6.0, 0, 6.5, 'no record', 'salary with proof of account crediting', 'conventional', 31, 11400)  ... displaying 10 of 554 total bound parameter sets ...  ('bch05', 'a0000830', '01121501****', 20, 'johor', 'unknown', 'single', 'bumiputra', 'm ', 3000, 'd000070', 'keg****', 'toyota', 2012, None, '2022-03-25 00:00:00.000000', 'khaliffa', 'alvin chin song hau', 'hoojie', 'hoojie', '2022-04-30 00:00:00.000000', '2022-03-31 00:00:00.000000', 22800, 84, 7.0, 12.17, 22600, 17800, 400, 0, 400, '2024-07-29 00:00:00.000000', None, 0, 'unknown', 'normal', 41.09, 0, 0, ' ', 82.61, 0.0, 15.81, 'g', 0, 6.0, 0, 3.0, 'no record', 'salary with proof of account crediting', 'conventional', 28, 11300), ('bch06', 'a0000831', '01010910****', 21, 'selangor', 'unknown', 'single', 'bumiputra', 'm ', 1000, 'd000014', 'wc2****', 'perodua', 2016, None, '2022-03-28 00:00:00.000000', 'nadzmi', 'alvin chin song hau', 'bingbing', 'hoojie', '2022-04-30 00:00:00.000000', '2022-03-31 00:00:00.000000', 20400, 108, 8.0, 13.32, 26000, 18100, 300, 0, 300, '2024-07-31 00:00:00.000000', None, 0, 'unknown', 'normal', 34.2, 0, 0, ' ', 76.62, 0.0, 22.51, 'h', 0, 0.0, 0, 0.0, 'unknown', 'salary with proof of account crediting', 'conventional', 28, 9100)]
2024-11-24 13:14:02,038 INFO sqlalchemy.engine.Engine COMMIT
Loaded sheet 'Sheet' into table 'genie_dataset_3_sheet'
Processing file: Genie_Dataset_4
Found sheet: Sheet
2024-11-24 13:14:02,138 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:02,138 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genie_dataset_4_sheet")
2024-11-24 13:14:02,139 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:02,139 INFO sqlalchemy.engine.Engine ROLLBACK
2024-11-24 13:14:02,140 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-24 13:14:02,140 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genie_dataset_4_sheet")
2024-11-24 13:14:02,140 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-24 13:14:02,141 INFO sqlalchemy.engine.Engine ROLLBACK
2024-11-24 13:14:02,141 INFO sqlalchemy.engine.Engine BEGIN (implicit)